#!/usr/bin/make -f

# Ideally the distribution should be infered by the build system
# but apparently using $(shell lsb_release -sr) does not work
# properly with pbuilder, force it to bullseye for now
DISTRIBUTION = bullseye
VERSION = 1.3.20
BUILD_VERSION = 5
OPENSEARCH_VERSION = 1.3.20
PACKAGEVERSION = $(VERSION)-$(BUILD_VERSION)~$(DISTRIBUTION)
PLUGIN_LIST=debian/plugin_urls.lst
BLOBS_DIR=debian/blobs
SHA256FILE=debian/sha256sums
SHORT_VERSION = $(shell echo $(OPENSEARCH_VERSION) | cut -d '.' -f 1-2 | tr -d '.')
COMPONENT = opensearch$(SHORT_VERSION)

%:
	dh $@

override_dh_auto_clean:
	rm -rf debian/wmf-opensearch-search-plugins
override_dh_auto_test: check_sha256
override_dh_auto_build:
override_dh_auto_install:
	cp -a $(BLOBS_DIR) debian/wmf-opensearch-search-plugins

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION) -Vdist:Depends="opensearch (=$(OPENSEARCH_VERSION))"

download_blobs: clean_blobs
	debian/checkout.bash $(BLOBS_DIR) $(PLUGIN_LIST) $(OPENSEARCH_VERSION)
	debian/fetch-sudachi-dict.bash $(BLOBS_DIR)

# use this target before commiting to gerrit
prepare_commit: download_blobs verify_unreleased
	find $(BLOBS_DIR) -type f -exec sha256sum {} \; | LC_ALL=C sort -k2 > $(SHA256FILE)

clean_blobs:
	rm -rf $(BLOBS_DIR)
	mkdir $(BLOBS_DIR)

# use this target before uploading to boron
prepare_build: download_blobs check_sha256
	# add some lines to upload to boron?
	@echo OK

verify_commit: download_blobs check_sha256
	@echo OK

verify_unreleased:
	! curl --fail --head https://apt.wikimedia.org/wikimedia/pool/component/$(COMPONENT)/w/wmf-opensearch-search-plugins/wmf-opensearch-search-plugins_$(VERSION)-$(BUILD_VERSION).tar.gz

check_sha256:
	sha256sum -c $(SHA256FILE)
